pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
pymupdf
arxiv
wikipedia
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_google_genai
langchain-pinecone
youtube_search
langgraph
chromadb
ipykernel
langchain_tavily
duckduckgo-search
yfinance
langchain_experimental